<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.dao.IBookDao">
	<cache/>
	<resultMap type="Book" id="BookResult">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="price" column="price"/>
		<result property="author" column="author"/>
		<result property="publisher" column="publisher"/>
		<result property="pubDate" column="pubDate"/>
		<result property="description" column="description"/>
		<result property="img" column="img"/>
		<result property="categoryId" column="category_id"/>
	</resultMap>
	
	<select id="getBooksById" parameterType="int" resultMap="BookResult">
		select * from e_book where id=#{id}
	</select>
	
	<select id="getAllBooks" resultMap="BookResult">
		select * from e_book
	</select>
</mapper>